* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f4f4f4;
}
::-webkit-scrollbar {
  display: none;
}

.pan-opcity {
  opacity: 0.8;
  pointer-events: none;
}

.pan-border {
  border: 2px solid yellow;
}

.pan-yuanpoint {
  background: radial-gradient(
    circle,
    #00ff00 0%,
    #00ff00 50%,
    /* 绿色只占50% */ #000000 51%,
    /* 从51%开始就是黑色 */ #000000 100%
  );
}
