@font-face {
  font-family: "iconfont"; /* Project id 4656890 */
  src: url('iconfont.woff2?t=1740736779606') format('woff2'),
       url('iconfont.woff?t=1740736779606') format('woff'),
       url('iconfont.ttf?t=1740736779606') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-genghuanmima:before {
  content: "\e695";
}

.icon-mimashezhi:before {
  content: "\e61e";
}

.icon-x:before {
  content: "\e62f";
}

.icon-x1:before {
  content: "\e67d";
}

.icon-qian:before {
  content: "\e607";
}

.icon-sousuo:before {
  content: "\e609";
}

.icon-jia:before {
  content: "\e601";
}

.icon-jian_sekuai:before {
  content: "\ed21";
}

.icon-baoxiang:before {
  content: "\e60d";
}

.icon-jiaoyichenggong-dingdanxiangqing:before {
  content: "\e600";
}

.icon-saoyisao:before {
  content: "\e62e";
}

.icon-shezhi:before {
  content: "\e668";
}

.icon-faxian:before {
  content: "\e631";
}

.icon-hangqing:before {
  content: "\e66c";
}

.icon-qianbao:before {
  content: "\e613";
}

.icon-wode:before {
  content: "\e603";
}

